@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Readex+Pro:wght@400;500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.row {
  width: 100%;
  display: flex;
}

.header {
  width: 33%;
}

.header h1 {
  margin-left: 80px;
  color: blue;
  cursor: pointer;
  margin-top: 30px;
}

.navbar {
  width: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
}

.active {
  background-color: blue;
  color: white;
  border-radius: 20px;
  width: 60%;
  text-align: center;
}
.tongle {
  width: 17%;
  margin-top: 25px;
  font-size: 30px;
}

.tongle .sun {
  color: #000000;
  font-size: 35px;
}

.tongle .toggle {
  color: blue;
  font-size: 35px;
  padding: 8px;
}

.tongle .moon {
  color: #000000;
  font-size: 35px;
}

.main {
  width: 100%;
  margin-top: 30px;
  display: flex;
}

.main1 {
  width: 80%;
  margin-left: 80px;
}

.main1 span {
  font-size: 90px;
  color: black;
  font-weight: 700;
}

.main1 span {
  font-size: 70px;
}
.main1 p,
a {
  font-size: 25px;
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
.icon i {
  width: 20%;
  display: block;
  margin-left: 10px;
  font-size: 50px;
  margin: 50px;
  color: black;
}

.main2 {
  width: 100%;
  display: flex;
  margin-top: 78px;
}

.image {
  width: 35%;
}

.image img {
  margin-left: 100px;
}

.image .about {
  width: 70%;
  float: left;
}
.about span {
  font-weight: 600;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 100px;
}

.about p {
  margin-left: 100px;
  font-size: 25px;
  font-weight: 600;
  color: #808080;
}
.bgcolor {
  background-color: #f5f5f7;
}

.main3 {
  width: 100%;
  margin-top: 50px;
  display: flex;
}

.notes {
  width: 50%;
}

.notes h3 {
  margin-left: 100px;
  font-size: 30px;
  color: black;
  font-weight: 600;
}

.notes p {
  font-size: 25px;
  font-weight: 900;
  color: gray;
  margin-left: 100px;
}

.notes .bx {
  color: blue;
  font-size: 40px;
}

.img {
  width: 50%;
}
.skill {
  width: 100%;
}

.content {
  width: 100%;
}

.content h3 {
  margin-left: 100px;
  font-size: 35px;
}

.content p {
  margin-left: 100px;
  font-size: 30px;
}

.skills {
  width: 100%;
  display: flex;
}

.language {
  width: 24%;
}

.language h3 {
  margin-left: 100px;
  font-size: 35px;
  border-bottom: 5px solid #2196f3;
  width: 120px;
}
.language ul li {
  margin-left: 100px;
  font-size: 25px;
  font-weight: 800;
}

.frameworks {
  width: 24%;
}

.frameworks h3 {
  margin-left: 100px;
  font-size: 35px;
  border-bottom: 5px solid #2196f3;
  width: 120px;
}

.frameworks ul li {
  margin-left: 100px;
  font-size: 25px;
  font-weight: 800;
}

.tools {
  width: 24%;
}

.tools h3 {
  margin-left: 100px;
  font-size: 35px;
  border-bottom: 5px solid #2196f3;
  width: 100px;
}

.tools ul li {
  margin-left: 100px;
  font-size: 25px;
  font-weight: 800;
}

.design {
  width: 24%;
}
.design h3 {
  font-size: 35px;
  border-bottom: 5px solid #2196f3;
  width: 120px;
}

.design ul li {
  font-size: 25px;
  font-weight: 800;
}

.bgcolor1 {
  background-color: #eaf6fd;
  height: auto;
}

.main4 {
  width: 100%;
  margin-top: 50px;
}

.header1 {
  width: 90%;
}

.header1 h3 {
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 600;
}

.projects {
  width: 100%;
  display: flex;
  margin-top: 400px;
}

.card1 {
  margin-left: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 5px;
  height: 430px;
  background-color: white;
}

.card1 img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  border: 5px solid #2196f3;
}

/* .img {
  border-radius: 5px 5px 0 0;
} */

.container {
  padding: 2px 16px;
}

.container1 span {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-left: 20px;
}

.container1 p {
  font-size: 15px;
  font-weight: 600;
  color: gray;
  margin-left: 20px;
}

.icon1 {
  display: inline;
}

.icon1 i {
  width: 20%;
  margin-left: 30px;
  font-size: 50px;
  color: #2196f3;
}

.projectsource1 span {
  font-size: 10px;
  color: #2196f3;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: bold;
}

.card2 {
  margin-left: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 5px;
  height: 430px;
  background-color: white;
}

.card2 img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  border: 5px solid #2196f3;
}

.container2 {
  padding: 2px 16px;
}

.container2 span {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-left: 20px;
}

.container2 p {
  font-size: 15px;
  font-weight: 600;
  color: gray;
  margin-left: 20px;
}

.icon2 {
  display: inline;
}

.icon2 i {
  width: 20%;
  margin-left: 30px;
  font-size: 50px;
  color: #2196f3;
}

.projectsource2 span {
  font-size: 10px;
  color: #2196f3;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: bold;
}

.card3 {
  margin-left: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 5px;
  height: 430px;
  background-color: white;
}

.card3 img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  border: 5px solid #2196f3;
}

.container3 {
  padding: 2px 16px;
}

.container3 span {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-left: 20px;
}

.container3 p {
  font-size: 15px;
  font-weight: 600;
  color: gray;
  margin-left: 20px;
}

.icon3 {
  display: inline;
}

.icon3 i {
  width: 20%;
  margin-left: 30px;
  font-size: 50px;
  color: #2196f3;
}

.projectsource3 span {
  font-size: 10px;
  color: black;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: bold;
}

.projects1 {
  width: 100%;
  display: flex;
  margin-top: 80px;
  margin-bottom: 100px;
}

.card4 {
  margin-left: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 5px;
  height: 430px;
  background-color: white;
  display: block;
}

.card4 img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  border: 5px solid #2196f3;
}

.container4 {
  padding: 2px 16px;
}

.container4 span {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-left: 20px;
}

.container4 p {
  font-size: 15px;
  font-weight: 600;
  color: gray;
  margin-left: 20px;
}

.icon4 {
  display: inline;
}

.icon4 i {
  width: 20%;
  margin-left: 30px;
  font-size: 50px;
  color: #2196f3;
}

.projectsource4 span {
  font-size: 10px;
  color: #2196f3;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: bold;
}

.card5 {
  margin-left: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 5px;
  height: 430px;
  background-color: white;
  display: block;
}

.card5 img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  border: 5px solid #2196f3;
}

.container5 {
  padding: 2px 16px;
}

.container5 span {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-left: 20px;
}

.container5 p {
  font-size: 15px;
  font-weight: 600;
  color: gray;
  margin-left: 20px;
}

.icon5 {
  display: inline;
}

.icon5 i {
  width: 20%;
  margin-left: 30px;
  font-size: 50px;
  color: #2196f3;
}

.projectsource5 span {
  font-size: 10px;
  color: #2196f3;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: bold;
}

.card6 {
  margin-left: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 5px;
  height: 430px;
  background-color: white;
  display: block;
}

.card6 img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  /* border: 5px solid #2196f3; */
}

.container6 {
  padding: 2px 16px;
}

.container6 span {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin-left: 20px;
}

.container6 p {
  font-size: 15px;
  font-weight: 600;
  color: gray;
  margin-left: 20px;
}

.icon6 {
  display: inline;
}

.icon6 i {
  width: 20%;
  margin-left: 30px;
  font-size: 50px;
  color: #2196f3;
}

.projectsource6 span {
  font-size: 10px;
  color: #2196f3;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: bold;
  margin-bottom: 100px;
}
